.advantages{
   width: 1170px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   margin-top: 80px;
   height: 240px;
   padding-bottom: 80px;
}

.advantages-item{
    list-style: none;
    width: 300px;
    position: relative;
}
.advantages__list{
   display: flex;
   justify-content: space-between;
}

.advantages__title{
    
    text-align: center;
    font-size: 22px; 
    color: #555555;
    font-family: 'Raleway SemiBold', arial;
}
.advantages-item p{
    margin-right: 0;
    width: 300px;
    text-align: center;
    height: 70px;
}
.advantages__description {
    margin-top: 25px;
    font-family: 'Montserrat Light', arial;
    font-size: 14px;
    line-height: 1.714;
    color: #8c8c8c;
    
}
.advantages__line{
    position: absolute;
    display: block;
    margin-top: 30px;
    left: 35%;
    width: 100px;
    height: 3px;
    background-color: #f1eee9;
}
