.main-title{
    margin-top: 290px;
    text-align: center;
}
.main-title__sub-title{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: white;
}
.main-title__main-title{
    margin: 0;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.main-title__description{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
}
.main-title__button{
    display: inline-block;
    margin-top: 50px;
    padding: 17px 37px;
    font-family: 'Raleway ExtraBold', arial;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    line-height: 1.643;
    border-bottom: 3px solid #736357;
    border-radius: 3px; 
    background-color: #998675;
}
.main-title__button:hover{
    transition-duration: 0,1s;
    transition-timing-function: ease-in;
    transform: scale(1.1);
}
.slider{
    text-align: center;
    .slider--leftarrow{
        position: absolute;
        top: 474px;
        left: 150px;
    }
    .slider--rightarrow{
        position: absolute;
        transform: rotate(180deg);
        top: 474px;
        right: 150px;
    }
    .circle-slider__item{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
    }
    .circle-slider{
        margin-top: 350px;
        margin-bottom: 40px;
        text-align: center;
        .circle-slider__item{
            display: inline-block;
            margin-left: 10px;
            width: 15px;
            height: 15px;
            background-color: #999797;
            border-radius: 50%;
        }
        .circle-slider--active{
            border: 2px solid #c4b3a2;
            background-color: transparent;
        }
    }
}